body {
	background-image : url(images/3.jpg) ;
	width : 1920px;
	height : 1080px;
	background-attachment : fixed;
	
	
}

h1 {
	background-color: rgba(255,255,255,0.5);
	font-size : 48pt;
	font-family : fantasy;
	text-align : center;
}

p {
	font-size : 36pt;
	font-family : verdana;
	background-color: rgba(255,255,255,0.5);
}

.moccasin {
	color : #DEB887;
}

.olive {
	color : #808000;
} 

.blue {
	color : blue;
}
li {
	font-size : 36pt;
	background-color: rgba(255,255,255,0.5);
}

.body {
	margin-left : 160px;
	margin-right : 160px;
}

.line {
	margin-left : 90px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
	background-color: rgba(255,255,255,0.5);
}

td, th {
    border: 3px solid #dddddd;
    text-align: center;
    padding: 8px;
}
.black {
	color : #708090;
}
.sidepicture {
	position: absolute;
    left: 800px;
    top: 150px
}
.video{
	position: center;
    margin-left:300px;
}
.picture_text {
	text-align : center;
	color : white;
	font-size : 32pt;
}
.picture {
	margin-left : 300px;
	height : 540px;
	width : 960px;
}

